.donut{
    margin-left: 50px;
    width: 120px;
    height: 120px;
}
.navbar{
    background-color: 	#6495b641;
}
.quem-somos{
    background-color: rgb(80, 80, 80);
    color: azure;
}
.margin{
    padding: 20px;
    text-align: center;
}
.cyber-donut{
    width: 300px;
    height: 200px;
    align-items: center;
}